/* Global styles for all elements */
* {
  font-size: 16px;
  font-family: monospace;
}

/* Styles for the HTML element */
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Styles for the body element */
body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}

/* Styles for the main container */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Layout container for prompt and video settings */
.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1100px;
  max-height: 900px;
  gap: 16px;
}

/* Styles for paragraphs */
p {
  line-height: 1.5;
  margin: 0;
}

/* Styles for headings */
h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* Styles for buttons */
button {
  background-color: #0000FF;
  border: none;
  border-radius: 100px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  opacity: 50%;
  cursor: default;
}

button:hover {
  background-color: #ffffff;
  border-radius: 0px;
  color: black;
  transition: all 0.2s ease-in-out;
}

button:disabled:hover {
  background-color: #0000FF;
  color: white;
}

/* Styles for input fields */
input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ffffff47;
  background-color: black;
  color: white;
}

input:focus {
  outline: none;
  border: 2px solid white;
}

/* Styles for select dropdowns */
select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ffffff47;
  background-color: black;
  color: white;
  flex-grow: 1;
}

option {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* Styles for textareas */
textarea {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid #ffffff47;
  background-color: black;
  color: white;
  height: 400px;
}

/* Styles for the prompt settings container */
.prompt-settings {
  display: flex;
  height: 100%;
  width: 634px;
  flex-direction: column;
  justify-content: space-between;
}

/* Styles for the video settings container */
.video-settings {
  display: none;
  height: 100%;
  width: 450px;
  justify-content: space-between;
  flex-direction: column;
}

/* Styles for the selectors container */
.selectors {
  display: flex;
  gap: 8px;
}

/* Container for holding all video elements */
#videos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
}

/* Styles for individual video elements within the #videos container */
#videos video {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

/* Styling for the outer container of each video */
.video-container {
  position: relative;
  display: inline-block;
  background-color: lightgray;
  padding: 0.5%;
  margin: 5px;
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* Styles for displaying the session ID as an overlay */
.session-id-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}

/* Styles for the status display */
#status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

/* Additional styling specifics for video elements */
.video-element {
  width: 100%;
  height: auto;
  background-color: black;
}